import discord
from discord import colour
from discord import embeds
from discord.ext import commands
from discord.ext import tasks
from asyncio import *
import random
import os
from discord.ext.commands.errors import DisabledCommand
client = commands.Bot(command_prefix = "")
client.remove_command("help")

@client.event
async def on_ready():
    await client.change_presence(status = discord.Status.online,activity=discord.Activity(type=discord.ActivityType.watching,name = "⚜𝐍𝐢𝐦𝐚 𝐀𝐟𝐞𝐫 𝐒𝐭𝐫𝐞𝐚𝐦⚜"))
    print("bot Run Shod")
@client.command()
async def help(ctx):
    await ctx.send("Help Farakhani Shod")

client.run("ODUxNjA4MDI1MTM5MjQ5MTky.YL6vxw.uMHrKeIQBExoDqhhUfAUwX2fCeo")
